@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --black: #000;
    --text-color: #333;
    --white: #fff;
    //Default layout
    --default-layout-header-height: 60px;
    --default-layout-with: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --font-family: 'TikTokFont';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family), sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--black);
    text-decoration: none;
}

// Fonts embeded

@font-face {
    font-family: var(--font-family);
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: var(--font-family);
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: var(--font-family);
    src: url('/assets/fonts/TikTokDisplayFont-Semibold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: var(--font-family);
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}
